PORT

# Use the Mongo DB Url in this
MONGOOSE_URL

# give your secret key here or you can generate it using the command in your bash --- openssl rand -hex 16 or 32 
JWT_SECRET

# Put development when in development phase and production in Production
NODE_ENV

# Env Variables for the Mail Service Used
SMTP_HOST
SMTP_PORT
SMTP_USER
SMTP_PASS 

SENDER_EMAIL

# Put your frontend Url in this
CLIENT_URL
